.error-snackbar {
  background-color: rgba(160, 48, 51, .7);
  color: #fff;
}

.success-snackbar {
  background-color: rgba(52, 170, 68, .7);
  color: #fff;
}

.warning-snackbar {
  background-color: rgba(247, 165, 65, 1);
  color: #fff;
}

.mat-simple-snackbar-action { color: #fff; }
